@media screen and (max-width: 320px){
    body {
        overflow-x: hidden; 
    }

    .main-navbar:first-child img{
        width: 100px;
    }
}

@media screen and (max-width: 360px){
    body {
        overflow-x: hidden; 
    }

	.main-navbar:first-child img{
    	margin: 15px 20px 5px;
	}

	.menu-items {
		display: none;
	}

    .grid-general {
    	display: grid;
    	grid-template-columns: 100%;
    	grid-template-rows: 70px 200px 450px max-content 200px max-content;
    }

    .grid {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 70px 200px 450px max-content 200px max-content;
    }

    .section-suscription {
    	display: grid;
    	grid-template: 20% 40% 10% / 100%;
    	grid-row-gap: 10px;
    }

    .section-suscription > .item:first-child {
      justify-items: stretch;
      padding-left: 4px;
      padding-top: 4px;
    }

    .section-suscription > .item:nth-child(3) {
    	font-weight: 300;
    	font-size: 0.5em;
    	align-self: start;
    	justify-self: center;
    	width: 80%;
    }

    .suscription-email {
    	width: 58%;
    	height: 20px;
    }

    .suscription-button {
    	width: 30%;
    	font-size: 0.7em;
    	padding: 5px;
    }

    /*Styles MainSlide*/
    .home{
        height: 100%;
    }
    .controls{
        display: none;
    }

    .backshape {
        display: none;
    }

    .indicator{
        display: none;
    }

    .home .container {
        height: 100%;
    }

    .home .container .caption{
        width: 90%;
        height: 95%;
        margin-left: 10px;
        margin-top: 0px;
    }

    .home .container .caption h1{
        margin: 0;
        font-size: 10vw;
        padding-top: 0px;
    }

    .home .container .caption p{
        font-size: 8vw;
    }

    .home .container .caption a{
        position: absolute;
        width: 60px;
        text-align: center;
        padding: 5px 12px;
        bottom: 8px;
    }
    /*Fin MainSlide*/

    /*Styles MainMenu*/
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(106%);
        transition: transform 0.5s ease-in;
        font-size: 1em;
        z-index: 5;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .main-navbar > .item:nth-child(2) {
        justify-self: end;
        margin-right: 20px;
    }

    .sub-service-menu{
        display: none;
    }

    .active{
        display: inherit;
    }
    /*==== Fin Styles MainMenu ====*/

    /*==== Cards Services ====*/
    .service-cards > .item:nth-child(2){
        display: grid;
        grid-template: 90% / 12% 1fr 12%;
    }
    .card{
        min-width: 90%;
    }
    /*==== Finc Cards Services ====*/

    /*==== Logos Customers ====*/
    .logos-customers{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
        min-height: 300px;
        margin-bottom: 30px;
    }

    .logos-customers .item{
        padding: 10px 0px;
    }

    .logos-customers .item img{
        margin: auto;
        width: 100%;
    }
    /*==== Fin Logos Customers ====*/

    /*=== Footer ===*/
    #footer{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr max-content;
        padding-left: 0px;
        padding-right: 0px;
    }

    #footer > .item{
        border: 1px solid red;
        padding: 15px 15px;
    }
    #footer > .item:first-child{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 160px repeat(3, max-content) 150px;
    }
    #footer > .item:first-child > .item{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #footer > .item:first-child > .item:first-child{
        margin-top: 70px;
    }

    #footer > .item:nth-child(2){
        display: grid;
        grid-template: repeat(3, max-content) / 100%;
    }

    /*=== Fin Footer ===*/
}

@media screen and (max-width: 640px) and (orientation: landscape){
    .grid-general{
        grid-template-columns: 100%;
        grid-template-rows: 14vh 75vh 450px max-content 200px max-content;
    }

    .grid{
        grid-template-columns: 100%;
        grid-template-rows: 14vh 75vh 450px max-content 200px max-content;
    }

    /*Main Menu*/
    .main-navbar {
        grid-template: 14vh / 30% 70%;
    }

    .main-navbar:first-child img {
        margin: 3px 40px 3px;
    }

    /*Fin Main Menu*/

    /*Styles MainSlide*/

    .home .container {
        height: 100%;
    }

    .home .container .caption{
        width: 70%;
        height: 95%;
        margin-left: 50px;
        margin-top: 0px;
    }

    .home .container .caption h1{
        margin: 0;
        font-size: 8vw;
        padding-top: 0px;
    }

    .home .container .caption p{
        font-size: 6vw;
    }

    .home .container .caption a{
        position: absolute;
        width: 60px;
        text-align: center;
        padding: 5px 12px;
        bottom: 8px;
    }
    /*Fin Styles MainSlide*/

    /*==== Logos Customers ====*/
    .section-customers{
        padding-bottom: 30px;
    }

    .section-customers .item:nth-child(2){
        padding-left: 20px;
        padding-right: 20px;
    }
    /*==== Fin Logos Customers ====*/
}

@media (max-width: 800px){
    .grid{
        grid-template-columns: 100%;
    }
}


@media (max-width: 1024px) {
    .nav-links {
        width: 100%;
    }

    .line-service { display: none; }
}
