/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
  background: #E5E5E5;
  font-family: 'Roboto Mono', monospace;
}

.grid {
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 10vh 500px 460px max-content 200px max-content;
  justify-content: center;
}
/*
.item {
    border: 1px solid blue;
}
*/
.grid > .item:nth-child(3) {
    background: #FFFFFF;
}

.grid > .item:nth-child(4) {
  /*background: #D4D2D2;*/
  background: #DADADA;
}

.grid > .item:nth-child(5) {
  background: #FFFFFF;
}

.grid > .item:nth-child(6) {
  background: #4f5356;
}

.main-navbar {
  background: #FFFFFF;
  display: inline-grid;
  grid-template: 10vh / 30% 70%;
}

.main-navbar:first-child img{
  margin: 7px 40px 9px;
  width: 150px;
}

.section-customers {
    display: grid;
    grid-template-rows: 10% 1fr;
    grid-row-gap: 10px;
    padding-bottom: 40px;
}

/*.section-customers .item {
    border: 1px solid red;
}
*/
.section-customers  > .item:first-child {
    justify-items: stretch;
    padding-left: 10px;
    padding-top: 15px;
}

.section-customers > .item:nth-child(2){
	/*border: 2px solid green;*/
	width: 70%;
	margin: auto;
}

.section-customers > .item:first-child img{
    height: 20px;
    width: 20px;
    position: relative;
    float: left;
}

.logos-customers{
  display: grid;
  grid-template: 200px / repeat(3, 1fr);
  justify-content: center;
  grid-row-gap: 15px;
  grid-column-gap: 30px;
}
/*
.logos-customers > .item{
  border: 1px solid red;
}
*/
.logos-customers > .item img{
	display: block;
	margin: auto;
	width: 80%;
}

.section-suscription {
    display: grid;
    grid-template: 20% 40% 40% / 100%;
    grid-row-gap: 10px;
}
/*
.section-suscription .item {
    border: 1px solid #FFC000;
}*/

.section-suscription > .item:first-child {
    justify-items: stretch;
    padding-left: 10px;
    padding-top: 15px;
}

.section-suscription .item:first-child img{
    height: 20px;
    width: 20px;
    position: relative;
    float: left;
}

.title-section{
    width: auto;
    position: relative;
    float: left;
    margin-left: 5px;
    font-weight: 300;
    font-size: 0.8em;
}

.title-section span{
  color: #FFCC29;
  font-weight: 500;
  font-size: 1.1em;
}

.section-suscription .item:nth-child(2) {
    align-self: end;
    justify-self: center;
}

.section-suscription .item:nth-child(3) {
    font-weight: 300;
    font-size: 0.8em;
    align-self: start;
    justify-self: center;
}

.suscription-email {
    background: #F4F4F4;
    border: 1px solid #A7A7A7;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    color: #929292;
    border-radius: 3px;
    width: 500px; 
}

.suscription-email::placeholder{
  color: #DADADA;
}

.suscription-button {
    background: #81B349;
    color: #FFFFFF;
    font-family: 'Roboto Mono', monospace;
    padding: 10px;
    border-radius: 3px;
    width: 100px;
    border: 1px solid #FFF;
    height: 42px;
}

/*====================== Carousel =========================*/
.service-cards {
    display: grid;
    grid-template: 10% 1fr / 100%;
    grid-row-gap: 20px;
    /*border: 1px solid blue;*/
    background-color: #FFFFFF;
}

/*.service-cards .item{ border: 1px solid red;  }*/

.service-cards > .item:first-child {
    justify-items: stretch;
    padding-left: 10px;
    padding-top: 15px;
}

.service-cards > .item:first-child img{
    height: 20px;
    width: 20px;
    position: relative;
    float: left;
}

.service-cards > .item:nth-child(2) {
    display: grid;
    grid-template: 90% / 5% 1fr 5%;
}

.card {
    background: #FFFFFF;
    border-radius: 9px;
    height: 98%;
    width: 25%;
    min-width: 30%;
    -webkit-box-shadow: -1px 2px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 8px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 8px -1px rgba(0,0,0,0.75);
    box-sizing: border-box;
    margin-left: 15px;
    margin-right: 20px;
    position: relative;
}
.titulo-card{
    color: #FFCC29;
    position: absolute;
    text-align: center;
    top: 30px;
    font-size: 1.3em;
    width: 100%;
    z-index: 2;
}

.bt-more {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.card > .image-card img{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 9px;
}

.card > .image-card {
    height: 100%;
    width: 100%;
}

.button-more {
    background: #FFCC29;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    color: #FFFFFF;
    width: 70%;
    box-sizing: border-box;
    margin: auto;
}
.arrow-right,
.arrow-left{
	border: none;
	background: none;
	font-size: 2em;
	-webkit-text-stroke: 1px rgba(0,0,0,0.4);
	color: transparent;
	cursor: pointer;
}

.wrapper-cards{
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}
/*====================== Fin Carousel =========================*/


/*===== Estilos grid general =====*/
.grid-general {
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 70px 25px max-content 200px max-content;
    justify-content: center;
}

.grid-general > .item:nth-child(2) {
    background: #FFFFFF;
    font-size: 0.7em;
    font-weight: 300;
}

.grid-general > .item:nth-child(3) {
    background: #F9F9F9;
    display: grid;
    grid-template: 50px 90% / 100%;
    padding-bottom: 30px;
}

.grid-general > .item:nth-child(4) {
    background: #FFFFFF;
}

.grid-general > .item:nth-child(5) {
  background: #4F5356;
}

.div-greenpamplona {
  background: #81B349;
  height: 5px;
  margin-bottom: 2px;
  width: 100%;
}

.div-yellowpamplona {
  height: 3px;
  width: 100%;
  background: #FFCC29;
}

.section-content > .item:first-child {
    justify-items: stretch;
    padding-left: 10px;
    padding-top: 15px;
}

.section-content > .item:first-child img{
    height: 20px;
    width: 20px;
    position: relative;
    float: left;
}
/*
.section-content > .item{
  border: 1px solid red;
}*/

.section-content > .item:nth-child(2){
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-row-gap: 15px;
    margin-left: 30px;
    margin-right: 30px;
}
/*
.section-content > .item:nth-child(2)>.item{
  border: 1px solid blue;
}*/

.content-text > p{
    font-size: 0.8em;
    font-weight: 200;
    text-align: justify;
    margin: 10px 11px 35px;
}

.serviceTec {
  background-color: #484848;
  color: #FFF;
  float: left;
  padding-bottom: 10px;
  position: relative;
  margin-left: 1.555%;
  margin-right: 1.555%;
  /* min-height: 550px; */
  /* max-height: 778px; */
  width: 300px;
  height: 610px;
  /* min-width: 30%; */
  margin-top: 10px;
}

.serviceTec h4{
    text-align: center;
    margin: 25px 20px 10px 20px;
    display: block;
    height: 50px;
}

.serviceTec p{
  color: #F5F5F5;
  font-weight: 100;
  font-size: 0.9em;
  text-align: justify;
  margin: 10px 20px;
}

.serviceTec figure{
  margin-top: 20px;
  margin-bottom: 20px;
}

.serviceTec figure img{
  height: 180px;
  margin: auto;
  display: block;
  position: relative;
  width: 80%;
}

.wrap-galery{
  height: auto;
  min-height: 130px;
  position: relative;
  margin-top: 20px;
  margin: auto;
  width: 81%;
}

.wrap-galery .pic{
  float: left;
  height: 115px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  width: 170px;
}

.wrap-galery .pic img{
  border-radius: 6px;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
/*===== Fin Estilos grid general =====*/

/*Estilos Carrousel*/

.btCar{
  display: flex;
  align-self: center;
  justify-content: center;
  cursor: pointer;
}

.btCar > i{
  color: #000000;
  font-size: 2.3em;
}
/*
.btPrevCarrousel{

}
*/
/*Fin Estilos Carrousel*/


/*Footer*/

#footer{
  display: grid;
  grid-template: 400px 30px / 100%;
  color: #FFF;
  padding-left: 20px;
  padding-right: 20px;
}
#footer .item{
  font-size: 0.85em;
  padding-left: 10px;
}

#footer .item a{
  color: #FFF;
  text-decoration: none;
}

#footer .item ul{
  list-style: none;
}

#footer .item ul li{
  margin-bottom: 10px;
}

#footer > .item:first-child{
  display: grid;
  grid-template-columns: 20% 1fr 1fr 32% 20%;
  grid-column-gap: 15px;
}

#footer > .item:first-child > .item{
  padding-top: 80px;
}

#footer > .item:first-child > .item:first-child{
  align-self: center;
  justify-content: center;
  padding-top: 0px;
}

.logo-footer{
  margin-left: 35px;
  margin-bottom: 80px;
  width: 76%;
}

#footer > .item:first-child h4{
  font-size: 1.2em;
  margin-bottom: 20px;
}

#footer > .item:first-child h5{
  font-size: 1.1em;
  margin-bottom: 10px; 
  margin-top: 10px;
}

#footer > .item:nth-child(2){
  font-size: 0.7em;
  display: grid;
  grid-template-columns: 40% 40% 1fr;
}
#footer > .item:nth-child(2) > .item{
  align-self: center;
  padding-left: 10px;
  text-decoration: none;
}

.social-images a img{
  height: 35px;
}

/*Fin Footer*/