nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	font-weight: 400;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-right: 12px;
}

.nav-links li {
	list-style: none;
}

.nav-links a{
	color: #222222;
	display: block;
	font-size: 12px;
	letter-spacing: 3px;
	text-align: center;
	text-decoration: none;
}

.line-service {
	color: #81B349;
	font-size: 0.8em;
    font-weight: 300;
    align-self: center;
    /*margin-top: 4px;*/
}

.line-service strong{
    color: #81B349;
    font-weight: 400;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #222222;
	margin: 4px;
	transition: all 0.3s ease;
}

.sub-service-menu{
	border: 1px solid rgb(239, 239, 239);
    background-color: #FFF;
    position: absolute;
    height: auto;
    border-radius: 1px;
    width: 200px;
    display: none;
    margin-top: 22px;
    padding: 15px 25px;
    z-index: 100;
}

.sub-service-menu > ul {
	margin-bottom: 15px;
}

.sub-service-menu > ul > li > a{
	text-align: left;
	margin-top: 15px;
}

.sub-service-menu > ul > li > a:hover{
	color: #636363;
}

.active{
	display: inherit;
}

@media (max-width: 768px), (max-width: 812px){

	.nav-links {
		position: fixed;
		right: 0px;
		height: 100vh;
		top: 0vh;
		background-color: #FFFFFF;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 60%;
		transform: translateX(106%);
		transition: transform 0.5s ease-in;
		font-size: 1em;
		z-index: 5;
	}

	.nav-links li {
		opacity: 0;
	}

	.burger {
		display: block;
		margin-top: 10px;
		z-index: 100;
	}

	.burgerFixed{
		position: fixed;
		right: 10px;
		top: 10px;
	}

	.main-navbar .item:nth-child(2) {
    	justify-self: end;
    	margin-right: 20px;
	}

	.sub-service-menu{
		display: none;
		position: relative;
		width: 80%;
		height: auto;
		margin: auto;
		border: 0px;
	}

	.active{
		display: inherit;
	}

	.list_service{
		margin-top: 36px;
	}

	.list_service li{
		opacity: 1;
	}

	.list_service a{
		font-size: 0.6em;
		font-weight: 300;
		text-align: center;
		margin-top: 25px;
	    border-bottom-color: #000;
	    border-bottom-style: solid;
	    border-bottom-width: thin;
	    padding-bottom: 10px;
	}

	.overlay{
		height: 100vh;
		width: 100vw;
		background-color: rgba(0,0,0,0.4);
		position: fixed;
		z-index: 5;
		display: none;
	}
}


.nav-active {
	transform: translateX(6%);
}

@keyframes navLinkFade {
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-4px,-5px);
}